
<h1>Welcome To Cruse Brothers Exotic Canine </h1>
<div id="addlibone">
    <p>The motto of the responsible breeder of purebred dogs is "Breed to Improve."

        Every dog is the best dog in the world to its owner. Responsible breeders, however, know to avoid "kennel blindness" -- in other words, they take a step back and honestly evaluate the good and bad points of their dogs before making the decision to breed. The goal of breeding, after all, is to produce a better dog and a quality pet.The Cruse Brothers take pride in developing the very best canine genetics in the world.</p>
    <br />
</div>
<h3>Breed For Size And Speed </h3>
<div class="inforel">
    <p>Our dogs are superior athlete.</p>
    <p>Our are superior protectors.</p>
    <p>Family tested and Cruse Brothers aproved</p>
</div>
<div class="canine">
    <a target=""></a>
</div>
<div class="canine"></div>
<div class="canine"></div>
<div class="canine"></div>
<!--<ul>
    <li ng-repeat="movie in controller.movies">
        {{movie.title}}
    </li>
</ul>-->

